language: ruby
rvm:
  - 2.3.1

env:
  - DB=pgsql

services:
  - postgresql

script:
  - bundle exec rake db:test:prepare
  - bundle exec rake

before_script:
  - cp config/database.yml.travis config/database.yml
  - psql -c 'create database travis_ci_test;' -U postgres

test:
  adapter: postgresql
  database: travis_ci_test
