<h2> <%= @user.first_name %> </h2>

<div>
  <% @guardians.each do |guardian| %>
    <%= link_to guardian.title, guardian_profile_path(guardian) %>
    <br>
    <%= guardian.image %>
  <% end %>
</div>
