<h1> <%= @guardian.title %> </h1>

<% @memories.each do |memory| %>
  <div>
    <p><%= memory.description %></p>
    <p><%= memory.audio_recording %></p>
    <p><%= memory.formatted_date %></p>
  </div>
<% end %>
